 <div class="user-details">
   <h1> Our Expertise </h1>
   <p> {{site.user_description}} </p>
 </div>
 <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-cplusplus-line-wordmark colored"></i>
      <i class="devicon-gradle-plain"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-bitbucket-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-apache-plain colored"></i>
      <i class="devicon-tomcat-line"></i>
      <i class="devicon-intellij-plain"></i> 
      <i class="devicon-confluence-plain colored"></i> 
      <p></p>
    </div>
 </div>
 <!--
 <div class="user-details">
   <h1> Our Expertise </h1>
   <p> {{site.user_before}} </p>
 </div>
 -->
