<footer class="footer"> 
    <p><img src="/assets/img/CI_horizontal_small.png" /></p>
    <p>Corporate HQ <br/>
        2F, 1393, Goyang-daero, Deogyang-gu<br/>
        Goyang-si, Gyeonggi-do, 10464, Rep. of KOREA 
    </p>
    <p>Founded <br/>
        21 Dec 2017
    </p>
    <p>Members <br/>
        CEO, Jung Hyun Lee <br/>
        CTO, Seong Su Lee
    </p>
    <br/>
    <p>&copy; {{site.username}}</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
