<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <p>Corporate HQ 
        B210, 6-7, Gangnam-ddaero 39-gil
        Seocho-gu, Seoul, 06730, Rep. of KOREA
    </p>
    <p>Founded 
        02 Jan 2018
    </p>
    <p>Members 
        CEO, Jung Hyun Lee
        CTO, Seong Su Lee
    </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
