<footer class="footer"> 
    <p><img src="/assets/img/CI_horizontal_small.png" /></p>
    <p>Corporate HQ <br/>
        B210, 6-7, Gangnam-daero 39-gil <br/>
        Seocho-gu, Seoul, 06730, Rep. of KOREA
    </p>
    <p>Founded <br/>
        02 Jan 2018
    </p>
    <p>Members <br/>
        CEO, Jung Hyun Lee <br/>
        CTO, Seong Su Lee
    </p>
    <br/>
    <p>&copy; {{site.username}}</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
