<div class="user-details">
  <h1> Games </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="puzzle punch screentshot" src="{{ "/assets/img/pp1.png" | prepend: site.baseurl }}" />
    <img alt="puzzle punch screentshot" src="{{ "/assets/img/pp2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Puzzle Punch </h3>
    <ul>
      <li> 3-Match Puzzle Game </li>
      <li> Fun to create your own enemies </li>
      <li> Set to interesting and Humorous punch action</li>
    </ul>
    <p></p>
    <!-- <a class="project-link" href="#">COMING SOON</a> -->
    <!-- <a href='itms-apps://itunes.apple.com/app/id1375299883' target="_blank"> -->
    <p>
    <a href='https://goo.gl/Nrkc7P' target="_blank"><img alt='Download on the App Store' src='http://www.gempack.kr/assets/img/download-on-the-app-store.png' width="45%" height="45%"/></a>
    <a href='http://play.google.com/store/apps/details?id=com.gempack.PuzzlePunch.android' target="_blank"><img alt='Get it on Google Play' src='http://www.gempack.kr/assets/img/google-play-badge.png' width="45%" height="45%"/></a>
      <div style="text-align:right">
        <a href="/privacy_policy/puzzle_punch.html" target="_blank">Privacy Policy</a>
      </div>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Last Saber screentshot" src="{{ "/assets/img/ls1.png" | prepend: site.baseurl }}" />
    <img alt="Last Saber screentshot" src="{{ "/assets/img/ls2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Last Saber </h3>
    <ul>
      <li> Shooting </li>
      <li> Grab your Saber. Swing the powerful saber of Light!</li>
      <li> Defeat more enemies as much as posible </li>
    </ul>
    <p></p>
    <!-- <a class="project-link" href="#">COMING SOON</a> -->
    <!-- <a href='itms-apps://itunes.apple.com/app/id1375299883' target="_blank"> -->
    <p>
    <a href='http://itunes.apple.com/kr/app/last-saber/id1417353618?mt=8' target="_blank"><img alt='Download on the App Store' src='http://www.gempack.kr/assets/img/download-on-the-app-store.png' width="45%" height="45%"/></a>
    <a href='http://play.google.com/store/apps/details?id=com.gempack.troops' target="_blank"><img alt='Get it on Google Play' src='http://www.gempack.kr/assets/img/google-play-badge.png' width="45%" height="45%"/></a>
      <div style="text-align:right">
        <a href="/privacy_policy/last_saber.html" target="_blank">Privacy Policy</a>
      </div>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Indian Poker M screentshot" src="{{ "/assets/img/ip1.png" | prepend: site.baseurl }}" />
    <img alt="Indian Poker M screentshot" src="{{ "/assets/img/ip2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Indian Poker M </h3>
    <ul>
      <li> Online Casino </li>
      <li> Play Indian poker with 5 patterns of AI for free!</li>
      <li> Immerse yourself in the charm of Indian poker with unique rules. </li>
    </ul>
    <p></p>
     <a class="project-link" href="#">COMING SOON</a>
        <!-- <a href='itms-apps://itunes.apple.com/app/id1375299883' target="_blank"> -->
        <p>
        <a href='https://itunes.apple.com/us/app/keynote/id1438449427?mt=8' target="_blank"><img alt='Download on the App Store' src='http://www.gempack.kr/assets/img/download-on-the-app-store.png' width="45%" height="45%"/></a>-->
        <a href='http://play.google.com/store/apps/details?id=com.gempack.IndianPoker' target="_blank"><img alt='Get it on Google Play' src='http://www.gempack.kr/assets/img/google-play-badge.png' width="45%" height="45%"/></a>-->
        <div style="text-align:right">
          <a href="/privacy_policy/indian_poker.html" target="_blank">Privacy Policy</a>
        </div>
        </p>
  </div>
</div>

<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">COMING SOON</a>
  </div>
</div>
-->
