<div class="user-details">
  <h1> Games </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pp_1.jpg" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/pp_2.jpg" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/pp_3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Puzzle Punch </h3>
    <ul>
      <li> 3-Match Puzzle Game </li>
      <li> Fun to create your own enemies </li>
      <li> Set to interesting and Humorous punch action</li>
    </ul>
    <p></p>
    <!-- <a class="project-link" href="#">COMING SOON</a> -->
    <!-- <a href='itms-apps://itunes.apple.com/app/id1375299883' target="_blank"> -->
    <p>
    <a href='https://goo.gl/Nrkc7P' target="_blank"><img alt='Download on the App Store' src='http://www.gempack.kr/assets/img/download-on-the-app-store.png' width="45%" height="45%"/></a>
    <a href='http://play.google.com/store/apps/details?id=com.gempack.PuzzlePunch.android' target="_blank"><img alt='Get it on Google Play' src='http://www.gempack.kr/assets/img/google-play-badge.png' width="45%" height="45%"/></a>
      <div style="text-align:right">
        <a href="/privacy_policy/puzzle_punch.html" target="_blank">Privacy Policy</a>
      </div>
    </p>
  </div>
</div>

<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">COMING SOON</a>
  </div>
</div>
-->
